[2021-02-24 12:46] sondrelg opened #1 "Separate between any import and local imports"

[2021-02-28 17:34] #1 closed

[2021-02-28 17:35] sondrelg opened #3 "Remove typeddict"

[2021-02-28 21:06] #3 closed

[2021-02-28 21:08] sondrelg opened #6 "Import logic"
Import logic isn't working too well.

Importing Django apps can raise `AppRegistryNotReady` which we cannot handle in the library, since it's a Django-specific error.

Importing `celery.Celery` raises `ValueError`

[code]

[2021-02-28 22:51] sondrelg opened #7 "__all__ declarations"
This type of __all__ declaration currently leads to false positives

[code]

[2021-03-01 16:36] sondrelg opened #9 "Type checking block"
Revise logic for determining what is inside and outside a type checking block. Especially important now that we've added TYO200

[2021-03-12 23:22] #7 closed

[2021-03-12 23:22] #6 closed

[2021-03-12 23:22] #9 closed

[2021-04-14 09:36] sondrelg opened #28 "Add code for empty type checking block"
I sometimes experience empty type-checking blocks after running cmd+option+o in Pycharm to clean up unused imports.

It would be useful to add a code to flag these, as they "get stuck". They aren't needed, but editors can't tell they're not:

[code]

[2021-04-21 14:31] ben-alkov opened #30 "TB running flake8 with flake8-type-checking installed"
Factoids:

- Fedora 33
- Python 3.9.2
- flake8 3.8.4
- `flake8 --version` (non-apology; I have a linter fetish):

[code]

Let me know if more info is needed.

[code]

[2021-04-21 19:58] sondrelg commented on #30
Looking at the code that triggered the error my guess would be that there is some type of python code that we haven't accounted for. Could you try to figure out what triggers the error? Without a reproducible example it'll be hard to proceed 🤔

[2021-04-29 15:02] sondrelg commented on #30
@ben-alkov have you had a chance to look at this? Let me know if you run into any issues.

[2021-05-01 20:11] sondrelg commented on #30
Closing this for now. Please let me know if you're able to narrow it down in any way 👍

[2021-05-03 13:16] ben-alkov commented on #30
Apologies, I'm usually inundated with emails from GitHub; in this case I received none...

[2021-05-03 13:33] ben-alkov commented on #30
Exactly.

I've since installed Fedora 34, which currently has Python 3.9.4 (same flake8 version), and I'm seeing the same issue. I'll try poking it a little to see if I can narrow it down some.

[2021-05-03 13:56] ben-alkov commented on #30
So, a SUPER-naive patch like

[code]

seems to let it work as expected[^1], but I reeeally don't understand any of the implications of that.

[^1]: In fact I see hits in one of my repos, e.g. "TC002: Move third-party import 'typing.Sequence' into a type-checking block" :rocket:

[2021-05-03 14:03] ben-alkov commented on #30
Note also that (IIUC) `hasattr()` *might* be an alternative to trapping the exception.

[2021-05-03 16:54] sondrelg commented on #30
Thanks for getting back to me about this @ben-alkov!

Any idea what python code in your project triggers the error? Your solution definitely might be the correct answer here, but without knowing exactly what python syntax triggered it I guess we can't be sure how to most appropriately address it 🙂

If you have some more spare time, you might be able to narrow it down to a single file by adding a p

[2021-05-03 18:20] ben-alkov commented on #30
Cool.

I couldn't figure out how to get flake8 to tell me what it was doing, but if I have time I'll try your suggestion. Meanwhile, the repo I was testing against is [atomic-reactor](https://github.com/containerbuildsystem/atomic-reactor), right here on GitHub :)

[2021-05-03 18:52] sondrelg commented on #30
Looks like I found something 👍

After pulling atomic-reactor and running just flake8 + this package, it runs with no errors. But after installing `flake8-bandit` and running it again, I get the same error as you! 🥳

I'll see if I can narrow it down myself for now and report back 🙂

[2021-05-03 19:10] sondrelg commented on #30
Think I've got to the bottom of it 🥳

So the ast objects we receive form flake8 to our plugin, include the ast-objects from the source code we're checking, but can also sometimes include elements left over from other plugins.

The dict representation of a node might look like this:

[code]

There are no `None` values to consider in the Python ast objects we receive, but it seems that `flake8-bandi

[2021-05-03 19:19] sondrelg commented on #30
If you run `pip install flake8-type-checking -U`, I believe your problem should be resolved 👏  Just pushed the fix

Please let me know if it works @ben-alkov 🙂

[2021-05-03 19:42] ben-alkov commented on #30
Drat it, lost my comment.

tldr; As shipped, it still throws a TB for me. I think a good solution here is what I was trying to figure out this morning (but I'd forgotten the finer points of `isinstance()`; thanks again, [S.O.](https://stackoverflow.com/questions/21706609/where-is-the-nonetype-located-in-python-3-x)!) - to wit: test with `isinstance(value, (int, str, list, bool, str, type(None)))`

[2021-05-03 19:49] sondrelg commented on #30
Ok good to know 🙂  Just to confirm, are you running `v1.0.1` and it's still exactly the same error as well?

Would you be interested in trying to create a fix? Contributions are always welcome 👏

No problem if not; I'll jump back onto it tomorrow most likely if so 👍

[2021-05-04 11:12] sondrelg commented on #30
It just hit me that I didn't actually implement my own fix yesterday 🤦‍♂️  I blame lack of sleep

Could you test one more time with v1.0.2 @ben-alkov?

[2021-05-04 12:50] ben-alkov commented on #30
Fixed in 1.0.2!

[2021-05-04 14:17] sondrelg commented on #30
Wonderful 👏

Thanks @ben-alkov! Let me know if you find anything else 😄

[2021-05-04 14:17] #30 closed

[2021-06-25 09:44] sondrelg opened #33 "Add proper async support for TC004"
Looks like async methods are not handled correctly.
[code]
[code]

[2021-06-25 10:51] sondrelg commented on #33
Should be resolved in 194914f

[2021-06-25 10:51] #33 closed

[2021-07-12 13:18] Yobmod opened #34 "AttributeError from checker.py"
Hi,

I just freshly installed this and flake8 on python3.7 and on any use I'm getting an error on simple `flake8 file.py` . Last call of the traceback is:

`  File "c:\python37\lib\site-packages\flake8_type_checking\checker.py", line 325, in visit_FunctionDef
    for i in range(node.lineno, node.end_lineno + 1):  # type: ignore
AttributeError: 'FunctionDef' object has no attribute 'end_lineno'`

b

[2021-07-12 13:27] sondrelg commented on #34
Hi @Yobmod, thanks for submitting the issue!

It looks like `end_lineno` was implemented in Python 3.8 (see [here](https://restrictedpython.readthedocs.io/en/latest/contributing/changes_from37to38.html)) 🤔

Since mapping the start and end of different ast objects is pretty integral to how the plugin functions I'm not sure we'd be able to create a workaround for python versions <= 3.8, but you're d

[2021-07-12 13:44] Yobmod commented on #34
Ah, ok. Thanks for the fast reply.
I seem to spend all my time dealing with typing changes between versions, lol.

[2021-07-13 07:14] sondrelg commented on #34
Updated python versions in https://github.com/snok/flake8-type-checking/commit/ae69260264bd024a762d1b2adbfb809ddacf2b1e 🙂

[2021-08-28 20:46] #28 closed

[2021-10-30 17:46] kveretennicov commented on #34
:wave: Guys, please consider releasing metadata fix to PyPI, it's still advertised as 3.7-compatible there and people run into this issue.

By the way, isn't [this note from ast docs](https://docs.python.org/3.9/library/ast.html#ast.AST.end_lineno) a little worrying?

It implies you are relying on something that does not necessarily exist, even in 3.8+. This is confirmed by [ast's typeshed typings

[2021-10-31 17:11] sondrelg commented on #34
Good point. I'll update the metadata tonight after fixing broken tests in v3.8 👍

Regarding the optionality of `end_lineno` - I've not personally seen any problems on Python 3.8+, and we've not had any issues as far as I can remember, so I think I'll assume it's fine until proven otherwise 🙂 Happy to be convinced otherwise though.

[2021-10-31 18:35] sondrelg commented on #34
Metadata has been updated in v1.0.4 🙂

![image](https://user-images.githubusercontent.com/25310870/139597027-b6ccb3ea-f813-4344-9901-60a550428b65.png)

[2021-10-31 18:35] #34 closed

[2021-11-17 11:07] radoering opened #49 "Colon after code causes issue"
Due to the fact that several tools are involved in this problem, I am not 100% sure that the problem is here, but at least I think so. 😉

I'll try to describe the complete use case:

We don't like that imports from typing are forced into a type checking block so they need to be quoted (see https://github.com/python-poetry/poetry/issues/4776#issuecomment-971331270). (Maybe, something to discuss in

[2021-11-17 11:26] sondrelg commented on #49
Well the core idea behind this plugin is that imports for type annotations should not be scoped in a way where they're imported during the runtime of you app or library. Running this code in prod is a waste of cpu-cycles - though admittedly, the `typing` package imports are nowhere near as bad as some library imports. Instead they should be scope in a way where they're included for static type che

[2021-11-17 12:07] radoering commented on #49
Personally,  I prefer using `from __futures__ import annotations`, too. Unfortunately, that is not (yet) an option until Python 3.6 support is dropped in the concerning project.

In general, I can see your point on the scope of imports. I am not an expert in this topic, but I don't think this point can be applied to `typing` imports. I have to `from typing import TYPE_CHECKING` at global scope any

[2021-11-17 12:20] sondrelg commented on #49
Yeah I think this is right. I'm also no expert, I primarily wrote this for a logical separation of imports after introducing mypy into a very large project at work. The addition of type hints would add 10-40 imports in large files, and it just got very hard to work with.

If you want, we could add a setting to allow specific module imports - like a whitelist/passlist for modules exempt from checki

[2021-11-17 13:08] radoering commented on #49
Thanks for the super fast reaction. The `yesqa` issue is solved with 1.0.5.👍

Imho such a setting would be nice. Just to be sure, I asked a poetry core member to comment here if this meets his expectations.

[2021-11-17 13:18] finswimmer commented on #49
Hello everyone,

an option to allow `typing` imports outside the type-checking block would be great. I've no idea how hard it is to implement a customizable whitelist. I guess an option to allow `typing` (and maybe `typing-extensions`) would be great as well.

Thanks a lot for this very useful plug in!

fin swimmer

[2021-11-17 13:25] sondrelg commented on #49
I will look into it after work today. I use Poetry in all my projects, so happy to contribute back in any way 🎉

I'll keep this issue open for now, and add relevant updates here. Hopefully it's an easy fix and I can release a new minor version tonight.

[2021-11-17 19:11] sondrelg commented on #49
I've added a new setting in #51 now which I hope should do the trick. Before I release the new version, would you mind testing the branch to see if you immediately spot any issues @radoering?

You should be able to install it with `pip install git+https://github.com/snok/flake8-type-checking@exempt-modules`, and to ignore `typing` and `typing-extensions`, you must specify the new setting in your `

[2021-11-17 21:49] radoering commented on #49
I checked the branch and could not find any negative side effects: The `# noqa` for `typing` imports are not required anymore and other violations are still found. 👍

Just a weird observation (that has nothing to do with the change): At first, I installed `flake8` and `flake8-type-checking` in the virtualenv of the project, running flake8 without pre-commit and noticed that some `TC002` became `TC

[2021-11-18 07:31] sondrelg commented on #49
Nice, I'll release v1.1 now then - it should be ready in ~1 minute 🙂

As for the weirdness, it sounds like you're on to something. [This](https://github.com/snok/flake8-type-checking/blob/master/flake8_type_checking/checker.py#L145) function is what separates TC001 from TC002 and is a *little* weird maybe. I don't think it matters unless you have a good reason to want only one of the errors, since

[2021-11-18 07:31] #49 closed

[2021-11-18 07:41] finswimmer commented on #49
Awesome @sondrelg :+1:  Thanks a lot :pray:

[2021-11-24 09:11] finswimmer opened #52 "Support pydantic and fastapi"
Hello,

`pydantic` and `fastapi` make use of typehints during runtime. Because `flake8-type-checking` doesn't know this, it leads to false recommendations to move typehints into the type-checking block.

## Example pydantic:

**model.py**
[code]

[code]

Moving the import to the type-checking block and quote the usages leads to this error when pydantic tries to initialize an object:

[code]

## Ex

[2021-11-24 14:00] sondrelg commented on #52
I've thought a little bit about this, since it's something I'd love to get to work - I use FastAPI and pydantic a fair bit myself. Right now, I would consider the plugin completely incompatible with any library or code that evaluates annotations outside the file they're declared in.

Thinking about the issue, I keep getting stuck at the problem of knowing when an annotation evaluated outside the f

[2021-11-25 11:45] finswimmer commented on #52
Hey @sondrelg,

I had similar solutions in my mind :) The more I thing about it, the less I'm convinced there is a solution that always works (Maybe it's because of my little knowledge about ast parsing ;)).

Providing a list of class names, where type hints for properties should be handled as "needed during runtime" sounds like a good idea. I guess it has its limitation as soon as a class inherit

[2021-11-25 12:04] sondrelg commented on #52
Perhaps just having a setting where the plugin never returns errors for annotations used in *any* class declarations would work for the pydantic case. Letting some false negatives through seems way better than risking some small % of false positives, since false positives will crash your app.

As far as I can tell, we will need more than simple ast-parsing to do anything more fancy than that:

[co

[2022-01-02 17:28] heckad opened #55 "False positive for strings"
[code]

[2022-01-02 22:47] sondrelg commented on #55
Thanks for reporting this @heckad. You are right, there was a mistake in the way we recorded what imports were used for.

I just released a new version with a fix (v1.1.2). Would you mind checking if the new version works for you?

[2022-01-03 19:25] heckad commented on #55
Yes, now it's work. Thank you very much for the quick fix!``

[2022-01-03 19:25] #55 closed

[2022-01-04 14:10] sondrelg commented on #52
I hope to implement some support for Pydantic this week. This is how I see the issue currently. Please let me know if you see any flaws in the logic/suggested implementation.

### Fundamental problem

flake8-type-checking is set up to flag when an import can be moved out of the runtime scope of an application. It assumes that a resource that is only used for type hinting is **not required during t

[2022-01-04 23:58] sondrelg commented on #52
I just released [v1.2.0](https://github.com/snok/flake8-type-checking/releases/tag/v1.2.0) for Pydantic support. To enable it, just add this to your flake8 config:

[code]

If you have a suitable project to test it on @finswimmer, that would be cool. I'll otherwise test it a bit more throughout the week 👍

Was surprisingly easy to add in the end 🎉

[2022-01-07 12:58] finswimmer commented on #52
Hey @sondrelg,

thanks a lot for your work :+1:

It works as expected in my projects. Treating all annotations from class var definitions as "uses" of an import seems to be the only possible solution in case of static code analysis, even with the downside that this leads to some false detection like in dataclasses.

So when will the fastapi support be released? :laughing:

fin swimmer

[2022-01-07 13:41] sondrelg commented on #52
I think we would just need to be certain about exactly what parts of FastAPI evaluates annotations to then be sure whether it's supportable or not. Input and/or PRs are welcome for anyone reading this 🙂

For FastAPI support, would it be enough to, e.g., count all function definition type hints when they're decorated?

@JonasKs I think you thought of one other thing to consider last time we discuss

[2022-01-07 21:10] JonasKs commented on #52
Hmmm, I remember the conversation, but not the conclusion. Let me think about it!

Routes, decorators, kwargs..?

[2022-01-20 12:30] sondrelg commented on #52
I think I'll have time to sit down and work on this the next few days, so here's my thoughts so far:

Looking at FastAPI, I think there are two main sources of annotation evaluation:

1. Routes
2. Dependencies

And there might be others that I've missed - if so, please let me know 👏

### Routes

By routes i mean this general pattern

[code]

This pattern seems easy to recognize. We can treat annot

[2022-01-20 12:45] sondrelg commented on #52
I suppose even if there was something like global state, for a run, in flake8, mapping dependencies would still only work if:

- Flake8 scanned the entire project (not, e.g., a single file), or
- There was some sort of caching involved to make sure we had access to the state of previous runs

[2022-01-23 22:01] sondrelg commented on #52
Just released [v1.3.0](https://github.com/snok/flake8-type-checking/releases) with `--type-checking-fastapi-enabled` added. Enabling the setting will change the behaviour of the plugin to count annotations from any decorated function definition as required at runtime.

You can enable it like this:

[code]

Or by running flake8 like this:

[code]

Ended up not implementing "support" for `dependenci

[2022-01-23 22:01] #52 closed

[2022-01-23 22:45] sondrelg commented on #52
I made a few small mistakes in v1.3.0, so looks like I'll yank 1.3.0 and release 1.3.1 with two additional features:

- FastAPI dependency support
- A setting for whitelisting base classes (to, e.g., not ignore type hints in a `NamedTuple` only because pydantic support is enabled)

[2022-02-14 02:24] eli-schwartz opened #68 "Detection of type checking blocks is overly specific"
I just discovered this project and it looks really interesting and useful. However, I hit a slight snag.

Consider the following file:
[code]

Same applies for if `T.TYPE_CHECKING`.

The README suggests using `from typing import TYPE_CHECKING`, and this does work, but I don't want that. It is a common pattern to use names such as `T.Any`, and guard annotation imports from your own project only, an

[2022-02-14 08:18] sondrelg commented on #68
Thanks for opening the issue 👏

You're right about the `TYPE_CHECKING` block detection - it could definitely be improved. Would you be up for trying to create a fix for this @eli-schwartz?

Just in case it's helpful and you're not aware of it, there is a `type-checking-exempt-modules` setting you can use to ignore typing altogether.

With respect to which types of imports to guard - this plugin ma

[2022-02-21 12:00] nyuszika7h opened #69 "ImportError due to circular import when running flake8 with this extension installed"
I installed this extension because it says it can help avoid circular imports due to type annotations, but when running flake8 on a file with circular imports with this extension installed, it results in a traceback:

[code]

I'm not sure if this is feasible to fix, it's not too hard to just manually fix these by putting them in `if TYPE_CHECKING` blocks, but I thought I'd report it.

I can't real

[2022-02-21 12:16] sondrelg commented on #69
That's surprising. I was under the impression that flake8 performed static analysis of an individual file's code only. A minimal working example would be great 👍

[2022-02-21 12:33] nyuszika7h opened #71 "Strange F821 false positive on flake8 git main"
When using this extension with PyCQA/flake8@8c1ed24, it triggers false F821 errors from pyflakes. The error does not happen with flake8 4.0.1 from PyPI. It only seems to happen on top-level code, ~~and goes away if a non-empty `TYPE_CHECKING` block with any import (even an unused one) is present~~.

# Minimal working example

[code]

pyproject.toml:
[code]

flake8 output:
[code]

---

~~The follow

[2022-02-21 12:37] sondrelg commented on #71
Is the error not present when you remove `flake8-type-checking`?

[2022-02-21 12:39] nyuszika7h commented on #71
Yes, it doesn't appear if I remove it:

[code]

(Strangely, now it's even complaining about `TYPE_CHECKING` when I didn't before... Also, you may have to apply #70 first to even see these errors.)

[2022-02-21 12:44] sondrelg commented on #71
Ok good to know. I'll try to take a look at this this week. If you want to submit a PR in the meantime, that's of course always welcome 👍  Thanks for reporting it

[2022-02-21 12:50] nyuszika7h commented on #71
Just to clarify, I found out the second example with the `TYPE_CHECKING` block was not triggering the error because of the error from #70 (which wasn't showing when I was just checking the automatic linter output from neovim), but after that was merged the F821 false positives happen on both examples.

[2022-02-26 18:21] sondrelg commented on #68
Hi again @eli-schwartz. I've added support for the following patterns:

[code]

[code]

[code]

[code]

In https://github.com/snok/flake8-type-checking/pull/73. Would you mind testing that the branch works for you?

Let me know if you need help 👍

[2022-02-27 05:32] eli-schwartz commented on #68
Actually the thirdparty distinction isn't very important to me, as it happens. :D https://github.com/mesonbuild/meson/ has a strict stdlib-only policy. So basically all typechecking types tend to either be project-specific types or else an import from the typing module (and in some rare cases a stdlib type used at runtime too).

Oddly enough, all of our imports seem to get classified as TC002 anyw

[2022-02-27 19:40] sondrelg commented on #68
Thanks for testing, and thanks for the feedback.

I'm a little tempted to redo the import classification using something like [this](https://github.com/asottile/aspy.refactor_imports#classify-a-module), and making `typing` exempt, and release a v2. I'll just need to find a day to do it I think. I like also putting typing imports into type checking blocks, because it feels more organized, but I'm p

[2022-02-27 19:41] #68 closed

[2022-03-11 09:12] ndtho8205 opened #74 "Conflict with `flake8-bandit` plugin"
**Describe the bug**

Conflict with the `flake8-bandit` plugin. To the best of my understanding, I think the bug can be fixed in `flake8-type-checking`, so I create a new issue here instead.

**To Reproduce**

test.py

[code]

pyproject.toml:

[code]

Run flake8 with these arguments:

[code]

The resulting error is:

[code]

**Expected behavior**

The above command should return no error. When I r

[2022-03-11 10:06] ShaiAvr opened #75 "Errors TC1 aren't raised with flakeheaven"
I am using [flakeheaven](https://flakeheaven.readthedocs.io/en/latest/) (a maintained fork of the more known [flakehell](https://github.com/life4/flakehell) framework). I also use TC1 error ranges because I prefer postponed evaluation of annotations rather than string literals. However, I can't seem to generate any TC1 error. Take this code for example:
[code]
I would expect to get a `TC101` error

[2022-03-11 10:18] sondrelg commented on #74
Huh, is flake8-bandit pruning ast node attributes in some way?

I'm away for a few days; would you be interested in trying to create a fix?

[2022-03-11 12:24] sondrelg commented on #75
Yeah the error code opt-in/out in flake8 has always been a little hard to make sense, of to me at least. The way I tend to enable error code the plugin, is by using `enable-extensions=TC0,TC1` I think.

Is there an equivalent of this in flakeheaven you could test? If that's doesn't work, perhaps we need to tweak the plugin somehow 🤔

I'm away for a few days, but can try to help more when back if 👆

[2022-03-11 12:49] ShaiAvr commented on #75
@sondrelg, As stated in their [documentation](https://flakeheaven.readthedocs.io/en/latest/config.html#plugins), the equivalent is to use `plugins`. However, I couldn't manage to make it work.

[2022-03-12 10:10] ndtho8205 commented on #74
I'm sorry but I can't help since I don't have any idea about how your plugin and flake8-bandit work.

[2022-03-12 16:41] #74 closed

[2022-03-12 16:47] sondrelg commented on #74
Think the problem should be fixed in v1.3.3. Would you mind testing whether upgrading fixes the problem for you @ndtho8205?

[2022-03-12 16:54] sondrelg commented on #71
Would you mind checking if it still fails for you with v1.3.3 @nyuszika7h? I think it works for me now, but I might have tested it wrong.

[2022-03-13 07:14] ndtho8205 commented on #74
The bug was fixed. Thank you for your great effort and your great plugin too.

[2022-03-13 09:14] sondrelg commented on #69
I'm going to close this issue for now, but feel free to provide an mwe and I'll reopen 👍

[2022-03-13 09:14] #69 closed

[2022-03-13 09:39] sondrelg commented on #75
Looked at flakeheaven a little bit and I'm also not able to get it to work.

For a little bit of background: the way this plugin is intended to work is for the two error ranges TC1* and TC2* to be alternatives, which requires us to have them be opt-in. [This](https://github.com/snok/flake8-type-checking/blob/main/flake8_type_checking/plugin.py#L114) is where we do this. There are a few ways to opt

[2022-03-14 22:08] sondrelg commented on #71
I'm going to close this for now, assuming it is fixed 👍 Let me know if that's not right

[2022-03-21 13:57] nyuszika7h commented on #71
Sorry for the late reply. I can still reproduce the issue:

[code]

Also, there's a new strange error when running flake8 on the whole project. Should I open a separate issue for this?

<details>
<summary>Error with <code>flake8 .</code></summary>

[code]

</details>

[2022-03-21 14:55] sondrelg commented on #71
Thanks for checking @nyuszika7h. You don't need to open a separate issue, I'll try to replicate and fix both when I get a chance 👍

[2022-03-25 21:43] sasanjac opened #77 "Support attrs"
Similar to #52, [`attrs`](https://github.com/python-attrs/attrs) makes use of type hints during runtime. `flake8-type-checking` however recommends moving these type hints into a type-checking block.

# Example
`example.py`
[code]

`Move third-party import 'models.grid.Grids' into a type-checking block flake8(TC002)`

Moving the import into a type-checking block results in an error of course.

Mayb

[2022-03-26 08:39] sondrelg commented on #77
if there are predictable ways of knowing whether a class is an `attrs` class, then I think we can actually do a better job with `attrs` than with `pydantic`. When pydantic support is enabled we treat *all* class var annotations as needed, since we cannot be sure what classes are pydantic classes and not.

Do you know if `define` is the only decorator used when defining a class with type hints? I'm

[2022-03-26 08:57] sasanjac commented on #77
There is also `attr.s`:

[code]

[2022-04-03 14:02] #77 closed

[2022-04-04 09:46] sasanjac opened #79 "Unexpected behavior regarding `attrs` support"
I'm really sorry, but I think you may need to revert my changes regarding `attrs` support. It seems that `attrs`  doesn't necessarily need runtime type annotiations and moving all out of `TYPE_CHECKING` block may result in circular imports.

I will investigate how `attrs`  handles runtime type annotations and come back with a fixed proposal.

[2022-04-04 15:13] sondrelg commented on #79
Then perhaps instead of reverting the PR, we could add a `type-checking-cattrs-enabled` setting which marks `attrs` type hints as needed at runtime when true? Would the decorators we've used still be exactly the same?

For some context: in the pydantic case we cannot know which classes are pydantic classes, so the behavior for that feature (regrettably) is to just always allow class var type hints

[2022-04-04 21:14] sasanjac commented on #79
In principle that should work, however, having no imports in `TYPE_CHECKING` blocks may lead to circular import errors. I don't know how `pydantic` handles that since it actually needs the type defs at runtime.

But I think your idea is fine and maybe when the `cattrs` devs introduce some kind of mechanism to mark `cattrs` classes, it can be changed to that marker. The underlying routines should e

[2022-04-04 21:51] sondrelg commented on #79
Would it not simply require

1. A setting defined in the plugin, and passed to the `TypingOnlyImportsChecker`
2. An if-statement to only run the attrs code if the setting is true?

[2022-04-05 09:51] sasanjac commented on #79
Yes, but this approach will include all `attrs` classes in a package. With an additional marker you could specify exactly which classes will be part of a `cattrs` structure call. Sadly you can't check against a `cattrs` import, see the following example:

`main.py`
[code]
`topology.py`
[code]
`node.py`
[code]
`other_node.py`
[code]

Here, `AnotherArray` should be put into a `TYPE_CHECKING` block b

[2022-04-08 20:34] sondrelg commented on #79
It seems that the `cattrs` case extends to other types of classes, not just `attrs`. For example, this will fail:

[code]

But maybe we can just add dataclass-detection to the cattrs setting

[2022-04-10 19:10] sondrelg commented on #79
Think we can consider this closed. Do you agree @sasanjac? 🙂

[2022-04-10 19:10] #79 closed

[2022-04-10 19:11] sondrelg commented on #71
Think this should be resolved in v1.5.0. Seems like copying the ast-tree so modifications aren't propagated to other plugins solves it: https://github.com/snok/flake8-type-checking/pull/81

[2022-04-19 07:04] jonyscathe opened #83 "dataclasses requiring InitVar/ClassVar at runtime"
As per https://docs.python.org/3/library/dataclasses.html#class-variables and https://docs.python.org/3/library/dataclasses.html#init-only-variables dataclass() inspects the type of a field in order to treat those types in some special way.

Code like their example (with imports added):

[code]

Will throw TC002 on the import of InitVar.
But if InitVar is moved into a type checking block then init

[2022-04-19 08:01] sondrelg commented on #83
I agree, we should add handling for this 👍

Do you think it makes sense to just ignore `InitVar`, or are there cases where dataclasses will evaluate other annotations?

Would you be interested in creating a fix for this?

[2022-04-26 00:23] jonyscathe commented on #83
From the dataclasses documentation it appears that it will evaluate `InitVar` or `ClassVar` annotations.
I can try making a fix for this.

[2022-06-06 22:04] SpangleLabs opened #84 "Unnecessarily moving imports to TYPE_CHECKING"
To start with, I love this plugin, avoiding these import loops has always been such a pain when adding type hints, and this automates dealing with that, which is excellent!

However, it seems unecessarily overzealous, unless I'm misunderstanding something.

If I start with just this import:
[code]
This plugin will suggest it be changed to:
[code]

But given we're still importing `typing`, if there

[2022-06-07 07:08] sondrelg commented on #84
Yeah this is a good point. I guess I've just initially gone with the approach of flagging all imports (individually) that are only used for type hints, and therefore are not needed at runtime.

I agree though, that when an import already exists to the same file, there probably isn't a benefit to guarding the second (unless you just really like the organisation of imports into two categories), so p

[2022-06-11 10:32] SpangleLabs commented on #84
That makes some sense, yeah. I would be surprised if there's any performance hit to it, as the vast majority of the loading time would be in parsing and loading up the module, and assigning a couple more things from the module will just be variable assignments effectively?

Would it help to actually do some timeit testing of a trivial example? It seems to be like it would be a marginal saving, if

[2022-06-11 15:23] sondrelg commented on #84
I've tried looking into it a little, and get the impression that it's not worth worrying about. I think your suggestion applied to all types of imports makes sense 👍 I'll see if I can make some progress on this today 🙂

[2022-06-18 10:00] #71 closed

[2022-06-18 10:17] sondrelg commented on #84
Hello again @SpangleLabs 🙂 The plugin (in the main branch) should now behave as you suggested, and I'm more or less ready to review the changes and release v2.

But before I do, would you mind testing whether it works for you, and/or if you notice any weirdness? You should be able to install it with `pip install git+https://github.com/snok/flake8-type-checking` and run it with `flake8 .`. Running

[2022-06-18 10:50] SpangleLabs commented on #84
Oooh!
(I had to use `poetry add --dev git+https://github.com/snok/flake8-type-checking.git#main` to install it btw. Poetry's error messages for not finding )

I tried running it in two projects, one which had lots of recomendations which I hadn't yet followed, and looks like it cut that list down a lot!
And tried it on a project I've already adjusted to follow the recommendations, and it doesn't s

[2022-06-20 07:50] sondrelg commented on #84
Great 🙂 I've released v2 now 👍 Thank you for suggesting the improvement!

[2022-06-20 07:50] #84 closed

[2022-06-24 00:44] jonyscathe opened #90 "2.0.1 causing other plugin to miss errors"
Hi,

Since 2.0.1 errors from flake8-unused-arguments have stopped being raised.
No issues with 2.0.0

[2022-06-24 07:27] sondrelg commented on #90
Thanks for letting me know @jonyscathe. Would you be able to provide an mvp to reproduce the issue?

I think I know what's going on, but would be great to have a reproducible example.

[2022-06-29 08:08] sondrelg commented on #90
I wonder if switching from `ast.NodeTransformer` to `ast.NodeVisitor` [here](https://github.com/snok/flake8-type-checking/blob/main/flake8_type_checking/checker.py#L290) might solve this issue, but would be great to get a second take

[2022-07-05 22:39] sondrelg commented on #90
Would you mind testing whether #91 solves the issue @jonyscathe?

If you're using poetry, you can install using `poetry add --dev git+https://github.com/snok/flake8-type-checking.git#main`

[2022-07-05 23:03] jonyscathe commented on #90
Hi,
I am so sorry. I did mean to provide an mvp, but then got distracted with other things.
I can confirm that #91 does solve the issue. Everything appears to be fine if I pip install the @visitor branch.

[2022-07-05 23:57] sondrelg commented on #90
Sweet, no worries :+1: I'll release the fix now. Thanks for reporting the issue!

[2022-07-05 23:57] #90 closed

[2022-07-08 19:37] shiftinv opened #94 "Shadowing imported names results in TC004 false-positives"
First of all, thank you for this neat plugin! It has been helping out quite a bit with managing type-checking imports :p

If a name that was imported in a type-checking block is shadowed by a variable or parameter of the same name, a TC004 error is emitted, asking to move the import out of the type-checking block:

[code]
[code]

This is obviously a crafted example, a more practical one can be see

[2022-07-08 20:07] sondrelg commented on #94
Thanks for opening the issue! I'm away until late next week and will take a proper look at this then 😊 In the meantime, if you're interested in contributing - please feel free to open a PR 👍

[2022-07-08 22:00] shiftinv opened #95 "Parameter annotations in AST are removed by visitor"
<sup>I read that you're currently on holiday, I mainly just wanted to create these issues for tracking so I don't forget about them - please do enjoy your holiday before anything else, these issues are probably as unimportant as it gets ☺️ </sup>

While debugging the issue that led to #93, I noticed that `ImportVisitor.register_function_annotations` would remove the `annotation` fields from all fu

[2022-07-09 21:03] sondrelg commented on #95
Hey @shiftinv! 🙂

Yes you're right, it's a bit of a weird problem to fix. The plugin needs that functionality (the removed annotations), the ast tree shouldn't be mutated to break other plugins, and copying the tree is slow and can raise `RecursionError`s in large trees.

I was hoping that v2.0.2 would fix this, by substituting `ast.NodeTransformer` with `ast.NodeVisitor` (#91). Would you be able

[2022-07-09 21:53] wyuenho opened #96 "TypeError: argument of type 'NoneType' is not iterable"
First of all, thanks for the plugin.

Recently I've found myself using flake8 HEAD, and it's changed a lot since the last release. Most importantly, [this fix](https://github.com/PyCQA/flake8/commit/367c810f0ebbca39146a037d3b6f82f139c9ebab) will break flake8-type-checking. This is a [similar issue](https://github.com/PyCQA/flake8-bugbear/issues/260) with flake8-bugbear.

[2022-07-09 23:40] shiftinv commented on #95
Hiya!
Yeah, it does seem like quite a tricky issue. It's definitely understandable that copying the tree isn't really viable, I suppose there's a good reason as to why flake8 shares the ast between plugins.
The tests above were done in v2.0.2, and while the switch to `ast.NodeVisitor` fixed a large portion of the mutation issue, the removal of `annotation` fields unfortunately still persists.

[2022-07-10 09:12] sondrelg commented on #95
Ok good to know 👍 I'll take another look at this in a bit then. Thanks again 🙂

[2022-07-10 14:56] Goldziher opened #97 "Supprt pydantic @validate_arguments"
Hiya,

So as mentioned in our slack, there is apparently an issue with the pydantic `validate_arguments` decorator. Here is a PR to starlite that mentions this: https://github.com/starlite-api/starlite/pull/265

I found I have to ignore both TC001 and TC002 for 3rd party types used in function annotations that are decorated.

[2022-07-11 08:47] sondrelg commented on #97
Thanks @Goldziher! Would you be able to verify whether `poetry add --dev git+https://github.com/snok/flake8-type-checking.git#validate-arguments` solves the issue?

[2022-07-11 09:15] sondrelg commented on #83
I started looking at this, but I'm no longer able to replicate the issue after v2.

v2 changes the plugin behaviour so that we won't flag imports like `from dataclasses import InitVar` if there's already one or more other imports from the module made that cannot be guarded. This means, since `from dataclasses import dataclass` will always exist in the same file, the `InitVar` import should never b

[2022-07-11 11:28] sondrelg commented on #94
This is a bit of a tricky one. After looking over the issue, it seems like we would need to try to figure out which scope the shadowed variable is contained in. For example, if the shadowed variable is defined like this:

[code]

Then we would need to recognize that any use of the node `id` before line 4 should be classified as usage of the import, but usage after line 4, *until* line 5, is not.

[2022-07-11 12:04] kurtschelfthout opened #101 "TC002 false positive when using import in except"
The following triggers TC002

[code]

Unfortunately if you action that advice, the code will fail at runtime in the except block.

[2022-07-11 12:10] sondrelg commented on #101
Thanks for opening the issue. I'll create a fix for this this week most likely. Seems like an easy fix 😊

[2022-07-11 12:17] kurtschelfthout opened #102 "False positive for TC003"
Second and last one:

[code]

Triggers TC003 on the import.  Changing it to from ... import works.

[2022-07-11 18:13] sondrelg commented on #101
Looks like

[code]

Also triggers the same issue. We weren't handling double imports like this properly I think.

Would you mind testing if the code in https://github.com/snok/flake8-type-checking/pull/103 solves your use-case @kurtschelfthout? 🙂 You should be able to install the branch by using `pip install git+https://github.com/snok/flake8-type-checking.git#except-block` (or `poetry add --dev g

[2022-07-11 18:14] sondrelg commented on #101
If I'm not mistaken, this should also fix #102 🤞

[2022-07-11 21:51] kurtschelfthout commented on #101
Can confirm both are fixed.

Beautiful!

[2022-07-12 06:05] Goldziher commented on #97
We are running this through pre commit. How could we test it?

[2022-07-12 11:33] sondrelg commented on #97
Yeah you won't be able to test it with pre-commit, unfortunately. Instead you'll need to:

[code]

And run `flake8 .` locally 👍 The best best way to test would be to first install `flake8-type-checking#main` and make sure that's failing, before testing that the new branch resolve the issues.

[2022-07-12 13:52] shiftinv commented on #94
Yeah, it does look quite difficult to handle, since variable scoping doesn't seem trivial with the builtin ast module.
Keeping track of scopes manually doesn't sound like a good time either, especially given some of the funky things you can do in Python with nested functions, lambdas, and the like. Not to mention that doing that would likely not be worth it given that this is a fairly obscure edge

[2022-07-12 17:52] sondrelg commented on #94
I'm glad you see the problem, and I would be very happy to accept a fix for this that *didn't* involve manual mapping of scopes 🙃 If you figure something out, let me know, or feel free to open a PR!

[2022-07-12 18:40] sondrelg commented on #83
I'll close this for now. Please let me know if you still think there's an issue 👍

[2022-07-12 18:40] #83 closed

[2022-07-12 22:46] jonyscathe commented on #83
Sorry I was sick yesterday and wasn't at my computer.
I checked this morning, and yes, it looks like this has been fixed :+1:

[2022-07-13 00:01] #102 closed

[2022-07-13 00:02] sondrelg commented on #83
No worries! Thanks for checking 🙂

[2022-07-13 13:48] #96 closed

[2022-07-13 14:05] shiftinv commented on #95
Fixed by #104 (thanks!).

[2022-07-13 14:05] #95 closed

[2022-07-13 14:06] sondrelg commented on #97
v2.0.4 should be out now @Goldziher 🙂 Please let me know if you still experience any issues. I added tests for the common use-case, but might have missed an edge case

[2022-07-13 14:06] #97 closed

[2022-07-13 14:10] sondrelg commented on #75
I'm going to close this from inactivity for now. Feel free to reopen 🙂

[2022-07-13 14:10] #75 closed

[2022-07-13 14:23] sondrelg opened #106 "False positive `TC004` for optional type hints"
Looks like 2.0.4 introduces false positive TC004 for code like this
[code]

[2022-07-14 08:43] kurtschelfthout opened #108 "2.0.4 fails with AttributeError: 'Namespace' object has no attribute 'extend_select'"
Thanks for fixing the bug in 2.0.3 so quickly.

Unfortunately in 2.0.4 I can't run flake8-type-checking at all anymore.

I changed flake8 config according to the readme I think - hopefully I've not misunderstood something.
[code]
Anyway that used to work with 2.0.3.

Full error:
[code]

[2022-07-14 08:50] JonasKs commented on #108
Related? https://github.com/PyCQA/flake8/issues/1318

Which Flake8 version are you on?

[2022-07-14 08:57] kurtschelfthout commented on #108
Ah possibly:

[code]

We pinned to 3.9.2 because of this whole flake/importlib drama, honestly I haven't been following it.

[2022-07-14 09:05] sondrelg opened #110 "Add docs for extend-select"
Re #98, add docs on [extend-select](https://flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-extend-select) in the configuration section of the readme

[2022-07-14 09:07] sondrelg commented on #108
I'll see if I can fix this and release a new version later today @kurtschelfthout. Thanks for letting me know 👍

[2022-07-14 13:23] sondrelg commented on #108
v2.0.5 should be out in a minute @kurtschelfthout. Would you mind letting me know if that solves your problem? 🙂

[2022-07-14 13:23] #110 closed

[2022-07-14 13:23] #106 closed

[2022-07-14 13:49] mwchase opened #111 "2.0.5 introduces dependency on `packaging`, but does not state this in the metadata"
https://github.com/snok/flake8-type-checking/commit/cd0d850953b798624a8c1ceb426802bcb8d25ff4 Adds `from packaging.version import Version`. Running flake8-type-checking against my code, without installing `packaging` leads to:
[code]
When I add `packaging` to my requirements next to `flake8-type-checking`, it works fine.

[2022-07-14 14:21] sondrelg commented on #111
Oh wow, I was convinced packaging was builtin 🤦 I'll fix this shortly. Thanks @mwchase 👏

[2022-07-14 15:03] sondrelg commented on #111
Could you please test with 2.0.6 @mwchase? Should be live in < 1 min

[2022-07-14 15:17] #111 closed, assigned to nobody

[2022-07-14 15:21] sondrelg commented on #111
Thanks for the quick report. Have added a bunch of additional checks to CI last few days to avoid this happening again, knock on wood 🤞 😄

[2022-07-14 16:10] kurtschelfthout commented on #108
Yes it does, thanks again for the quick fix.

[2022-07-14 16:10] #108 closed

[2022-07-14 23:25] ngnpope opened #114 "Recommend quoting of type in `typing.cast()`"
See https://twitter.com/zzzeek/status/1483093707637366795

For particularly complex casts there can be a significant performance hit, particularly in hot code paths, e.g.

[code]

Given that the type in the cast is purely for type checkers there is probably no good reason why it shouldn't always be quoted.

[2022-07-15 01:22] ngnpope commented on #114
I don't think so as `typing.cast()` is just a normal function call, so always at runtime.

It just so happens that it does nothing with that typing info at runtime. (See [here](https://github.com/python/cpython/blob/7c185017a9b68c851ea079ef31f6bcef694378ac/Lib/typing.py#L2216-L2224).)

As far as `mypy` is concerned, I tested all combinations of quoting or no quoting and the annotations import pres

[2022-07-15 07:52] sondrelg commented on #114
Yeah sounds good, and sound relevant to this plugin, so I'd be happy to add this. Would you be interested in creating a PR?

[2022-07-15 07:59] JonasKs commented on #114
Wow - I'm shook by those numbers! Would be awesome to have that process covered by this plugin indeed.

[2022-07-15 13:02] ngnpope commented on #114
Sure. Might be next week before I get around to it. 🙂

[2022-07-17 05:22] Goldziher opened #115 "Plugin doesnt identify typing extensions"
the `typing_extensions` lib is identified as a third party package:

[code]

[2022-07-17 12:00] sondrelg commented on #115
To my knowledge, the `typing_extensions` package is a third-party package, so that seems expected :slightly_smiling_face: Is it not?

[2022-07-17 12:28] Goldziher commented on #115
It offers type hints for backwards compatibility

[2022-07-17 12:30] sondrelg commented on #115
Third party in this context just means not shipped with Python, and not a part of the local application. That seems right here I think

[2022-07-17 12:45] Goldziher commented on #115
`Literal` accepts a value, `Literal["Moishe"]`, so should I do `Optional["Literal["Moishe"]"]?

[2022-07-17 13:14] sondrelg commented on #115
You should be able to do `'Literal["Moishe"]'` while putting the `Literal` import in a type-checking block :+1:

[2022-07-17 15:29] #115 closed

[2022-07-19 17:27] Goldziher opened #116 "False positives for unused variables"
Hiya,

So I had an unused variable, which I had to cleanup. But this is picked by this plugin as a typing variable:

[code]

[2022-07-19 22:38] sondrelg commented on #116
Yep, I'll agree this is a little bit annoying. Could try to add handling for this :+1:

[2022-07-28 20:55] #114 closed

[2022-08-02 09:30] Goldziher commented on #116
The point is that this plugin should not identify unused imports as used for typing, unless they are used for typing - in which case they wouldnt be unused.

[2022-08-02 09:36] Goldziher opened #119 "TC006 is unusable"
Hi guys,

So I updated my pre commit setup and got a shitload of TC006 errors. These appear to include places where there are TypeVars involved, as well as places where the type is actually used in the code as well.

For example, this file from starlite:

[code]

And then this plugin identifies thefollowing issues:

[code]

Both `User` and `Auth` are generic TypeVars declared in the same file and

[2022-08-02 10:42] sondrelg commented on #119
The general idea behind TC006 is that the cast calls will be ~6x faster if you quote the annotations used, and it has the added potential benefit of letting you (sometimes) guard an entire import.

Unless I'm misunderstanding, this seems like the intended behaviour for this error code. If you want to opt out of individual error codes, just use `ignore = TC006` in your flake8 config.

@ngnpope anyt

[2022-08-02 10:59] Goldziher commented on #119
Then this should be documented and perhaps configurable, no? My pipeline broke out of the blue and it doesn't make sense without being more informative.

[2022-08-02 11:17] ngnpope commented on #119
It works fine as intended. There's not much point adding new checks in if they're disabled by default. You should pin your dependencies. Otherwise, there is already an option to ignore the check as @sondrelg mentioned.

[2022-08-02 11:22] JonasKs commented on #119
Agree, either dependencies should be pinned or projects should manually [`--select`](https://flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-select) the specific checks they want to have. This way you can auto-update without worrying about new features.

[2022-08-02 11:46] Goldziher commented on #119
What about this?

[code]

Should this also be stringified?

[2022-08-02 13:24] Goldziher opened #120 "False positive for default value"
I have this:

[code]

And this error is found:

[code]

It apparently doesn't identify the default value as a valid use.

[2022-08-02 14:57] sondrelg commented on #120
Thanks @Goldziher, that's weird!

Replicates for this as well
[code]

I'll take a look when I get a chance

[2022-08-03 00:30] jonyscathe opened #121 "TC100 not needed for stub files"
flake8-pyi has started reporting the following warning if `from __future__ import annotations` is in a stub file:

`Y044 "from __future__ import annotations" has no effect in stub files.`

This is because forward references are enabled by default.

It might be a good idea for TC100 to not be reported against stub files?

[2022-08-03 06:30] sondrelg commented on #121
Yes this sounds like a good idea if possible. I'll have to double check which state flake8 passes to the plugin; I fear it might not include a filename or extension, but hopefully I'm wrong! 🤞

In the meantime you should be able to get around this by adding this to your flake8 config:

[code]

[2022-08-03 06:32] jonyscathe commented on #121
Yep - had already added that to my flake8 config. But thought it worth raising an issue anyway as I'm sure I'm not the only one using flake8-type-checking and flake8-pyi

[2022-08-04 15:18] sondrelg commented on #121
It is possible to do this. We can add the `filename` attribute to our plugin class to receive filenames from flake8. I don't have time to implement the feature currently, but will try to get to this at some point.

In the meantime PRs are welcome 🙂

[2022-08-04 15:23] sondrelg commented on #119
[code]

Looks like adding the quotes makes the cast ~20% faster, so I think it might make sense even for this

[2022-08-04 15:37] Goldziher commented on #119
This is really silly from python's side.

Thanks

[2022-08-04 18:34] #120 closed

[2022-08-04 18:53] sondrelg commented on #121
Actually, perhaps this is an easy fix. Do you think this would be as easy as disabling TC100 for `.pyi` files @jonyscathe?

[2022-08-04 18:56] sondrelg commented on #120
Fix out now in v2.1.1 🙂

[2022-08-04 20:35] sondrelg commented on #94
I'll close this for now, since it's not something we're likely to pursue in the short term. Happy to review code or discuss this more if new ideas surface 🙂

[2022-08-04 20:35] #94 closed

[2022-08-04 21:24] sondrelg commented on #116
v2.1.2 should be out with a fix shortly 🙂

[2022-08-04 21:24] #116 closed

[2022-08-04 21:37] sondrelg commented on #121
Would you mind providing a source documenting that forward references are enabled by default? Just so I can add it to the readme.

[2022-08-04 23:57] jonyscathe commented on #121
Hmmmm.
On the flake8-pyi page (https://github.com/PyCQA/flake8-pyi) Under Y044's description it states:
`from __future__ import annotations has no effect in stub files, as forward references in stubs are enabled by default.`

But I don't think that is actually correct.
I just think that `from __future__ import annotations` isn't generally needed within stubs as stubs aren't used at runtime and typ

[2022-08-05 00:03] jonyscathe commented on #121
I've now opened up a documentation query on flake8-pyi as I think their documentation is just incorrect on why future annotatiosn aren't needed in stubs.

[2022-08-05 00:11] jonyscathe commented on #121
Ok, flake8-pyi guys referenced https://typing.readthedocs.io/en/latest/source/stubs.html#syntax which does state:

Stubs are treated as if from __future__ import annotations is enabled. In particular, built-in generics, pipe union syntax (X | Y), and forward references can be used.

[2022-08-05 08:17] sondrelg commented on #121
So it sounds to me like there's nothing wrong with having a futures import in a stubs file, except it would do nothing in practice. I'm happy to turn off TC100 for stubs with this in mind 👍

Just one more thing; does it make sense to use any of the error codes in a stub file? Guarding imports in a stub file seems redundant if the stubs aren't evaluated at runtime anyways. Perhaps it would be bette

[2022-08-17 14:56] bryanforbes opened #127 "Type-checking block errors not reported for imports used in `cast()` string annotation"
Given the following code:

[code]

And the following config:

[code]

No errors are reported at line 3 (TC003), line 6 (TC002), and line 8 (TC001).

If the following function is added in the code, the errors are triggered:

[code]

[2022-08-17 14:59] sondrelg commented on #127
This is intentional, since [F401](https://www.flake8rules.com/rules/F401.html) which comes built-into flake8 already flags unused imports. Do you have a use case where F401 is not flagged, and we still don't flag anything?

[2022-08-17 15:05] bryanforbes commented on #127
If I change the config to be `select = F,TC,TC1`, no errors are triggered (including F401).

[2022-08-17 18:43] sondrelg commented on #127
Huh yeah that's strange. @Goldziher know what we're missing here?

[2022-08-17 20:00] Goldziher commented on #127
I would suspect flake8 parses the values as strings. If you remove the strings from cast, what happens?

[2022-08-17 20:14] bryanforbes commented on #127
Removing the strings raises `TC006` but no other errors since all of those symbols are referenced in running code now

[2022-08-18 06:30] sondrelg commented on #127
yep, looks like

[code]

Triggers the F401:

[code]

[2022-08-18 06:32] sondrelg commented on #127
I suppose we should try to parse string values as well, and still raise TC errors when something's present. If that's not possible, I think we'll need to revert to always raising.

[2022-08-20 17:28] Goldziher opened #128 "Request: Support class attributes"
Hi,

So I got a pydantic model:

[code]

Both the `backend` and `cache_key_builder` attributes are typed using custom classes, which are imported only for typing purposes. Hence this would be possible:

[code]

I would like to ask for this feature to be included in this plugin.

[2022-08-21 22:02] sondrelg commented on #128
Running flake8 on the bottom example produces no TC errors when testing. What exactly do you mean when you say include the feature?

If you mean that imports used type hinting should be flagged to have them moved *into* type-checking blocks, then I don't think that's possible, since last time I checked Pydantic evaluates the type hints at runtime. Scoping them in runtime-exempt code paths (which i

[2022-08-22 12:06] Goldziher commented on #128
Pydantic resolves these using the method `resolve_foward_refs`.

It could be that for pydantic this shouldn't be an error, but what about regular classes?

[2022-08-22 12:15] sondrelg commented on #128
The problem is that we cannot know whether a class is a Pydantic class or regular class, if it has any base model. We're constrained to the scope of the individual file we're looking at, and the base class could be defined outside that scope.

tl;dr: if pydantic support is enabled, we treat any class with a base class as a *potential* pydantic class. More context in #58

[2022-08-25 09:59] Goldziher commented on #128
well, you can expose a config option "pydantic_base_classes" or simply "exclude_for_attributes_check"

[2022-08-25 10:41] Goldziher opened #129 "Request: validate buildin types imported from typing"
Hi,

So in a project I see someone importing types from collections:

[code]

But this is also imported and exported by typing, which is the more correct import in this case - because this is used for typing only.

So my suggesiton would be to ensure that all typings are imported from typings.

[2022-08-25 10:42] sondrelg commented on #128
The exclude for attributes check option exists [here](https://github.com/snok/flake8-type-checking#pydantic-support-base-class-passlist) 👍

[2022-08-25 10:42] #128 closed

[2022-08-25 10:48] sondrelg commented on #129
I've thought this too, but check out [PEP585](https://peps.python.org/pep-0585/) which added generics syntax back to the collections module. I could be wrong, but my current view is that it's better to prefer collections over typing where possible (3.7 with futures imports, or 3.9 w/o futures imports). This way the type hint refers to the actual resource, and not just a concept.

[2022-08-25 10:57] sondrelg commented on #129
I also like typing more, since I'm more familiar with it 😄 but this seems like the correct take. Also think `pyupgrade` is probably the best way of breaking (or at least correcting for) the habit 👍

[2022-08-25 10:57] #129 closed

[2022-08-25 10:59] Goldziher commented on #128
I would reverse the config though - instead of a "pass list", an "pydantic include list", and all other classes shouldnt be considered pydantic.

[2022-08-26 19:13] sondrelg commented on #121
@jonyscathe what do you think? Would disabling the plugin for all `pyi` files make sense?

[2022-08-26 19:52] sondrelg commented on #127
After looking at this for a bit, the problem is harder than just noting down the string value of every cast and crosschecking imports against it. In the example string literal `"Callable[..., Any]"` `Callable` is contained in the string, but to match it to an import we either need to fully parse all the parts of complex annotations (which sounds like it will add a ton of complexity to the plugin f

[2022-08-26 20:25] bryanforbes commented on #127
Thanks for the explanation! If it's going to add a bunch of complexity to the plugin, I vote for the third option and closing this.

[2022-08-28 05:40] eli-schwartz opened #131 "TC004 reported for object that exists both inside and out of type checking block"
See the following code: https://github.com/mesonbuild/meson/blob/d4733984e9e3970c23a9436dce8919f8a25194e8/mesonbuild/compilers/mixins/gnu.py#L30-L39

[code]

This reports:
[code]

But weirdly enough, this type-checking only import is shadowed at runtime and thus not actually used. Not sure if there's a good way to detect it -- even the code comments imply it's a bit too clever.

[2022-08-28 08:04] sondrelg commented on #131
Nice, this is something we should be able to add handling for I reckon :+1:

I might have time to get this added in a few weeks, and in the meantime contributions are always welcome :slightly_smiling_face:

[2022-08-31 00:45] jonyscathe commented on #121
Sorry for the slow responses!
Yes, I think disabling the plugin for `pyi` files probably does make sense.
As you say, stubs aren't evaluated at runtime so it does make these checks a bit pointless within those files.
But up to you. For now I have just globally ignored TC100 on pyi files so it isn't causing any issues for me.

[2022-08-31 06:55] sondrelg commented on #121
I think the implementation is simpler this way, and I can't think of a reason not to, so think I'll go with that and add a note in the readme 👍 Thanks for the confirmation!

[2022-09-01 20:47] sondrelg commented on #131
I started to think about how to implement this, and unfortunately I think this can get quite complex. For the easy scenario, when a file has a single type-checking block at the top, we can map the import names in the else block and offset the "unused" imports by this set. This is pretty straight forward and make sense to do, as the runtime equivalents do exist, so there's actually no basis for the

[2022-09-01 20:52] sondrelg commented on #127
I don't love any of these solutions. In some ways I prefer flagging unused imports since a false positive seems better than a false negative. The only downside is there's a lot more false positives. Maybe we can keep this open for now in the hope someone has a suggestion for a fourth option.

[2022-09-01 21:08] sondrelg commented on #121
After considering this for a bit, I think the original idea of muting TC100 is slightly better. It seems unlikely, but TC101 ("Annotation does not need to be a string literal") could add value to a stub file. More importantly, muting TC100 seems like a bugfix while turning off stubs files is probably a breaking change :shrug:

Would you mind checking if the `stub-files` branch works for you @jonys

[2022-09-02 07:11] jonyscathe commented on #121
Ok.
So first thing...
With `flake8==5.0.4` and `flake8-type-checking==2.1.2` I don't have any issues with TC100 coming up in stub files....
Took me a while to realise that I was on `flake8==4.0.1` when I made this issue,

Now:
With `flake8==4.0.1` and `flake8-type-checking==2.1.2`  I do again have the TC100 pop up.
With `flake8==4.0.1` and `flake8-type-checking@stub-files` the TC100 warning no lon

[2022-09-02 08:01] sondrelg commented on #121
Haha, as long as the branch works I'm happy 😄 Thanks!

[2022-09-02 21:08] eli-schwartz commented on #131
Handling only the easy scenario would still be more than what you do now, so I guess it cannot possibly hurt. :)

Does it help if you only consider names in the else block, when they are defined in the immediately matching if block?

[2022-09-02 22:50] sondrelg commented on #131
Take this example:

[code]

The plugin doesn't know about scopes, it just knows about line numbers. So this isn't impossible; it's just hard to make the plugin do anything coherent without a lot of added complexity. And the false positives seem easy to ignore.

If you want to take a stab at implementing it, PRs are welcome :slightly_smiling_face:

[2022-09-03 18:37] #121 closed

[2022-10-04 20:06] alanfranz opened #136 "TC not shown if multiple imports from same module"
Consider this scenario:

[code]

We're importing from the very same collections.abc module; if I launch flake8 against this, I get no errors, even though Iterator could be moved in a TYPE_CHECKING block.

My impression (I couldn't verify it thoroughly) is that the module rather than the single "collections.abc.Iterator" import is "whitelisted" because of the actual usage of Collection while subcla

[2022-10-04 20:15] alanfranz commented on #136
Unit test failure example:

[code]

I just copied the first case, and added an additional (used) "q" import, which is used; this is the result of the test:

[code]

(similar problems for TC002 and TC003)

[2022-10-05 00:58] sondrelg commented on #136
Yes you're right, the module is the one we whitelist. This is actually the change that made us bump to v2 not too long ago, since we couldn't think of a good reason for why the plugin should be as pedantic as flagging individual imports.

The plugin provides (in my view) a few benefits. The main ones are

- Not having to import extra code at runtime, just to annotate your functions
- Avoid import

[2022-10-05 05:32] alanfranz commented on #136
ok,
so this intentional. Your rationale is something like "once you have imported a module, it doesn't make much difference if you import one, two, three names in the current namespace", is that right?

It makes sense, I just didn't think about it.

In the next days I'll take a look at the code where I'm planning to use the checker and see if there's any case where I could actually want to separat

[2022-10-05 12:06] sondrelg commented on #136
Yep that's right. Sounds good 👍 I'll close this for now, and yeah just ping me here if you find a use-case 🙂

[2022-10-05 12:06] #136 closed

[2022-10-15 14:23] radoering opened #137 "No warning if only some imports from a module can be moved into a type-checking block"
Let's start with the following example:

[code]

As expected, this results in the following warnings:
[code]

However, if we extend the example to:

[code]

There are no warnings anymore even though one of the imports can be moved into a type-checking block.

In python-poetry/poetry#6807, you can see that such a warning could have even prevented a real bug. There is an incompatibility between poet

[2022-10-15 14:46] sondrelg commented on #137
Hi @radoering, thanks for the report!

This is intended behavior, see https://github.com/snok/flake8-type-checking/issues/84 and https://github.com/snok/flake8-type-checking/issues/136.

The rationale, in short, is that being overly pedantic about individual imports when another import from that module needs to be there at runtime, isn't really worth it. Guarding the additional import would not re

[2022-10-15 15:40] neersighted commented on #137
Chiming in as another Poetry developer, I think we would like the pedantic mode. While the bug was caused by git performing a bad merge during cherry-pick and CI not catching it; ultimately we try to be very explicit and minimal with our imports.

I personally find the `if TYPE_CHECKING:` guard to be a very useful way to sort typing-only imports and to reason about what may be instanced vs just pa

[2022-10-15 16:07] sondrelg commented on #137
Cool, yeah I like the sorting aspect too. I'll probably have time to add this tomorrow :+1:

[2022-10-15 18:16] sondrelg commented on #137
Think https://github.com/snok/flake8-type-checking/pull/138 should cover it. Want to take a look? Always nice to get a second opinion on naming, docs, etc.. if not the logic itself :slightly_smiling_face:

[2022-10-15 23:47] jtraub opened #139 "Some flake8 plugins break if flake8-type-checking is installed"
For some reason when `flake8-type-checking` is installed other plugins can stop working. Since this is happening with several plugins I decided to report the problem here (but I might be wrong and the problem is incorrect code in other plugins)

Reproduction steps:

Consider `test.py` file
[code]

Here is the terminal excerpt that highlight the problem using `flake8-use-pathlib` as an example

[co

[2022-10-16 10:08] #137 closed

[2022-10-16 10:44] sondrelg commented on #139
So I've been able to boil it down to [this piece](https://github.com/snok/flake8-type-checking/blob/main/flake8_type_checking/checker.py#L714) of the plugin. We basically modify the `ast` objects like this:

[code]

Without getting too much into the details, this is something we sort of need (though maybe there are better ways of keeping track of parent nodes), and I think I got the inspiration fo

[2022-10-16 10:45] sondrelg commented on #139
Wait no, [this](https://github.com/snok/flake8-type-checking/blob/main/flake8_type_checking/checker.py#L726) is the offending code. That makes more sense. I think this should be easily fixable.

[2022-10-16 11:03] sondrelg commented on #139
#140 fixes this, I believe. For some reason we were modifying the `node.attr` values, and it doesn't seem like we need to, so I removed it :shrug: v2.2.0 will be out in a few minutes - please let me know if that doesn't solve you issue :slightly_smiling_face:

[2022-10-16 11:07] sondrelg commented on #137
v2.2.0 should be out in a couple of minutes. Let me know if you have any issues :pray:

[2022-10-16 12:15] jtraub commented on #139
@sondrelg it now correctly works with other plugins. Thanks a lot for prompt resolution

[2022-10-16 12:15] #139 closed

[2022-10-16 12:15] sondrelg commented on #139
Thanks for reporting it!

[2022-11-26 12:44] sondrelg opened #146 "False negative TC100"
This example in https://github.com/snok/drf-openapi-tester isn't flagged with a TC100 when it should be. The `Response` annotation will otherwise lead to a runtime error.

[code]